#header
  #header-content
    #logo grub haus
    #navigation
      %ul
        %li
          - if user_signed_in?
            Welcome, #{current_user.username}
        %li 
          %a{:href=> "/recipes/create"}Submit a Recipe
        %li
          %a{:href=>"/recipes"}Dashboard
        %li 
          %a{:href=>"/"}Homepage
        %li
          - if user_signed_in?
            = link_to "Sign out", destroy_user_session_path, 'data-bypass' => true
          - else
            = link_to "Sign in", new_user_session_path, 'data-bypass' => true
