#header{:style => (@user && @user.admin? ? "background: #000;" : "background: #930202")}
  #header-content
    #logo
      = link_to "grub haus", root_url, 'data-bypass' =>true
    #navigation
      %ul
        %li
          - if user_signed_in?
            Hallo, #{link_to (@user.admin? ? "admin" : current_user.username), '/users/profile'}
        %li
          &nbsp;&nbsp;
        %li
          - if user_signed_in?
            %a{:href=>"/recipes"}Dashboard
        %li 
          - if user_signed_in?
            %a{:href=> "/recipes/create"}Create
        %li 
          - if user_signed_in?
            %a{:href=>"/"}Search
        %li 
          - if user_signed_in?
            %a{:href=>"/recipes/browse"}Browse
        %li
          &nbsp;&nbsp;
        %li
          - if user_signed_in?
            = link_to "Sign out", destroy_user_session_path, 'data-bypass' => true
          - else
            = link_to "Sign in", new_user_session_path, 'data-bypass' => true
