#header
  #header-content
    #logo
      = link_to "grub haus", root_url, 'data-bypass' =>true
    #navigation
      %ul
        %li
          - if user_signed_in?
            Welcome, #{link_to current_user.username, '/users/profile'}
        %li 
          - if user_signed_in?
            %a{:href=> "/recipes/create"}Submit a Recipe
        %li
          - if user_signed_in?
            %a{:href=>"/recipes"}Dashboard
        %li 
          - if user_signed_in?
            %a{:href=>"/"}Search Recipes
        %li
          - if user_signed_in?
            = link_to "Sign out", destroy_user_session_path, 'data-bypass' => true
          - else
            = link_to "Sign in", new_user_session_path, 'data-bypass' => true
