<div class="rheader-background"></div>
<div class="recipe">
    <div class="haha">
        <div class="rheader">
            <div class="one-col">
                <div class="img-circle editable" id="recipe-photo" data-edit="text" data-field="photo"></div>
            </div>
            <div class="two-col">
                <h1 class="title editable" id="recipe-name" data-edit="text" data-field="name">{{name}}</h1>
                <h2 class="description editable" id="recipe-description" data-edit="textarea" data-field="description">{{description}}</h2>
                <table>
                    <tr id="recipe-preptime">
                        <td class="label">Prep Time</td>
                        <td class="prep-time editable" data-edit="text" data-field="prep_time">{{prep_time}}</td>
                    </tr>
                    <tr id="recipe-cooktime">
                        <td class="label">Cook Time</td>
                        <td class="cook-time editable" data-edit="text" data-field="cook_time">{{cook_time}}</td>
                    </tr>
                    <tr id="recipe-readyin">
                        <td class="label">Ready In</td>
                        <td class="ready-in editable" data-edit="text" data-field="ready_in">{{ready_in}}</td>
                    </tr>
                </table>
                <br />
                <table>
                    <tr id="recipe-servingsize">
                        <td class="label">Serves</td>
                        <td class="serving editable" data-edit="text" data-field="serving_size">{{ serving_size }}</td>
                    </tr>
                </table>
                <div id="recipe-actions">
                    {{#if published}}
                        {{#if is_favorited_by_user}}
                            <a href="#" id="unfavorite-recipe-button">Unfavorite</a>
                        {{else}}
                            <a href="#" id="favorite-recipe-button">Favorite</a>
                        {{/if}}
                    {{/if}}
                    {{#ifOr is_authored_by_user current_user_is_admin }}
                        {{#if published}}
                            <a href="#" id="unpublish-recipe-button">Unpublish</a>
                        {{else}}
                            <a href="#" id="publish-recipe-button">Publish</a>
                        {{/if}}
                        <a href="#" id="tags-button">Edit Tags</a>
                        <a href="#" id="delete-recipe-button" class="red-button">Delete</a>
                    {{/ifOr}}
                    <a href="#" id="submit-create-recipe" class="green-button">Save</a>
                </div>
            </div>
        </div>
    </div>
    <div id="rcontainer">
    </div>
    <div id="icontainer">
    </div>
</div>
