<div class="search-background">
</div>
<div id="wrap-push">
    <div id="search-box-container">
        <h1>Start a new recipe search: </h1>
        <form id="search-form" method="GET" action="/api/search">
            <input type="text" name="q" placeholder="eg. Spaghetti, Soup">
            <input type="submit" value="Search">
        </form>
    </div>
    <div id="results-container" style="overflow: hidden">
        <h3 style="line-height: 1.0em"><i>Results for query</i>: </h3>
        <ul id="results-list">
            <li class="result" style="margin-bottom:20px; overflow: hidden">
                <div id="result-img-container" style="float: left">
                    <img src="http://placekitten.com/120/120/" />
                </div>
                <div id="text-content" style="float: left; margin-left: 20px; width: 400px;padding: 15px">
                    <h3 style="margin: 0">Spaghetti and Meatballs</h3>
                    <p>
                        Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit..
                    </p>
                </div>
            </li>
            <li class="result" style="margin-bottom:20px; overflow: hidden">
                <div id="result-img-container" style="float: left">
                    <img src="http://placekitten.com/120/120/" />
                </div>
                <div id="text-content" style="float: left; margin-left: 20px; width: 400px;padding: 15px">
                    <h3 style="margin: 0">Spaghetti and Meatballs</h3>
                    <p>
                        Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit..
                    </p>
                </div>
            </li>
            <li class="result" style="margin-bottom:20px; overflow: hidden">
                <div id="result-img-container" style="float: left">
                    <img src="http://placekitten.com/120/120/" />
                </div>
                <div id="text-content" style="float: left; margin-left: 20px; width: 400px;padding: 15px">
                    <h3 style="margin: 0">Spaghetti and Meatballs</h3>
                    <p>
                        Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit..
                    </p>
                </div>
            </li>
            <li class="result" style="margin-bottom:20px; overflow: hidden">
                <div id="result-img-container" style="float: left">
                    <img src="http://placekitten.com/120/120/" />
                </div>
                <div id="text-content" style="float: left; margin-left: 20px; width: 400px;padding: 15px">
                    <h3 style="margin: 0">Spaghetti and Meatballs</h3>
                    <p>
                        Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit..
                    </p>
                </div>
            </li>
            <li class="result" style="margin-bottom:20px; overflow: hidden">
                <div id="result-img-container" style="float: left">
                    <img src="http://placekitten.com/120/120/" />
                </div>
                <div id="text-content" style="float: left; margin-left: 20px; width: 400px;padding: 15px">
                    <h3 style="margin: 0">Spaghetti and Meatballs</h3>
                    <p>
                        Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit..
                    </p>
                </div>
            </li>
            <li class="result" style="margin-bottom:20px; overflow: hidden">
                <div id="result-img-container" style="float: left">
                    <img src="http://placekitten.com/120/120/" />
                </div>
                <div id="text-content" style="float: left; margin-left: 20px; width: 400px;padding: 15px">
                    <h3 style="margin: 0">Spaghetti and Meatballs</h3>
                    <p>
                        Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit..
                    </p>
                </div>
            </li>
            <li class="result" style="margin-bottom:20px; overflow: hidden">
                <div id="result-img-container" style="float: left">
                    <img src="http://placekitten.com/120/120/" />
                </div>
                <div id="text-content" style="float: left; margin-left: 20px; width: 400px;padding: 15px">
                    <h3 style="margin: 0">Spaghetti and Meatballs</h3>
                    <p>
                        Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit..
                    </p>
                </div>
            </li>
        </ul>
    </div>
</div>
