<div class="pheader-background"></div>
<div class="profile">
    <div class="gaga">
        <div class="pheader">
            <div class="img-container">
                <div class="img-circle" style="background: url('{{ profile.photo }}')"</div>
            </div>
        </div>
    </div>
    <div id="profile-content-container">
        <div id="profile-content">
            <h1>{{ profile.first_name }} {{ profile.last_name }}</h1>
            <h3>Tagline: {{ profile.tagline }}</h3>
            <h2>{{ username }}</h2>
        </div>
    </div>
</div>
