<div class="rheader-background"></div>
<div class="recipe">
    <div class="haha">
        <div class="rheader">
            <div class="one-col">
                <div class="img-circle"></div>
            </div>
            <div class="two-col">
                <h1 class="title">{{name}}</h1>
                <h2 class="description">{{description}}</h2>
                <table>
                    <tr>
                        <td class="label">Prep Time</td>
                        <td>{{prep_time}}</td>
                    </tr>
                    <tr>
                        <td class="label">Cook Time</td>
                        <td>{{cook_time}}</td>
                    </tr>
                    <tr>
                        <td class="label">Ready In</td>
                        <td>{{ready_in}}</td>
                    </tr>
                </table>
                <br />
                <table>
                    <tr>
                        <td class="label">Serves</td>
                        <td>{{ serving_size }}</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    <div id="rcontainer">
    </div>
    <div id="icontainer">
    </div>
</div>
