<li class="time-line circle" id="time-minute-{{index}}">
    <div class='start-circle' style="border-color: {{color}}">
        <div class='inner-start-circle' style="background: {{color}}">
            <div id="start-text">
                {{ circleText }}
            </div>
        </div>
    </div>
    <div class="contents-container border-notch">
        <b class="border-notch notch"></b>
        <b class="notch"></b>
        <div class='contents'>
            {{ text }}
        </div>
    </div>
</li>
<li class="unit spacer">
    <div class="line">
    </div>
</li>
