html

body 
  font-family: "Myriad Pro", "Trebuchet MS", sans

ul, ol
  list-style-type: none
  padding-left: 0

h1
  font-size: 1.3em

#wrap
  #header
    position: absolute
    z-index: 5
    top: 0
    #header-content 
      width: 960px
      margin: 0 auto
      #logo
        +grid(4)
        +alpha
        font-size: 1.8em
        line-height: 1.8em
        text-shadow: 0 0 2px #222
        font-weight: bold
        color: #f9e9c0
        font-family: lobster-two, serif

      #navigation
        +grid(8)
        +omega
        text-shadow: 0 0 2px #222

        ul
          overflow: hidden
          float: right

          li
            float: left
            margin-left: 20px
            list-style-type: none
            line-height: 1.3em

    position: absolute
    width: 100%
    top: 0
    background: #930202
    color: white
    a, a:visited, a:hover, a:active
      color: white
      text-decoration: none
      font-weight: bold
    box-shadow: 0 0 4px #888
    border-bottom: 5px solid white
    margin-bottom: 20px
  .app-container
    +grid-system(12)

  ul.recipe-list
    margin: 0 auto
    width: 960px
    overflow: hidden
    li
      float: left
      margin-right: 15px
      height: 170px
      margin-bottom: 15px
      img
        position: relative
        z-index: 5
        width: 170px
        height: 170px
        box-shadow: 0 0 2px #fff
      .name-background
        position: relative
        margin-top: -165px
        margin-left: 10px
        z-index: 50
        max-width: 130px
        min-width: 100px
        background: rgba(0, 0, 0, 0.3)
        padding: 10px
        .name-text 
          color: white
          font-weight: bold
          opacity: 1.0
          text-shadow: 0 1px 3px #000


  #container
    ul#time-unit-list
      float: left
      width: 45px
      li
        width: 45px
        height: 45px
      li.minute-marker
        background: black
    ul#step-unit-list
      float: left
      margin-left: 20px
