
#comments
    min-height: 200px

ul.comment-list
    max-height: 200px
    overflow: auto
    padding-right: 15px

li.comment-box
    border-top: 1px solid black
    padding-top: 3px

div.comment-content
    text-align: right