@import "sassy-buttons"
@import "960/grid"

.pheader-background
  position: absolute
  z-index: 0
  top: 0
  left: 0
  height: 360px
  width: 100%
  background: asset-data-url("paper.png")
  background-repeat: repeat
  border-bottom: 2px solid #ccc

.profile
  +grid(12)
  +alpha
  +omega
  .gaga
    overflow: hidden
    width: 100%
    .pheader
      +grid(11)
      +grid-suffix(1)
      +alpha
      +omega
      position: relative
      height: 350px
      width: 100%
      top: 35px
      .img-container
        width: 960px
        position: absolute
        left: 0
        bottom: 60px
        .img-circle
          margin: 0 auto
          width: 250px
          height: 250px
          border-radius: 145px
          box-shadow: 0 0 4px #000
          border: 5px solid white
  #profile-content-container
    +grid(12)
    +alpha
    +omega
    #profile-content
      width: 200px
      margin: 0 auto
      margin-top: 20px

      h1, h2, h3
        margin: 0
        padding: 0
        font-weight: normal
        margin-bottom: 3px
      h1
        font-size: 1.7em
        font-weight: bold
      h2
        font-size: 1.4em
      h3
        font-size: 1.1em
        font-style: italic
    
